<%- include('./partial/header.ejs'); %>
<%- include('./partial/homenavbar.ejs'); %>
<body>
  <div class="container">
    <hr>
    <div class="jumbotron">
      <h1 class="display-4">FAÇA PARTE DO NOSSO TIME</h1>
      <p class="lead">PROCESSO SELETIVO <br>

        O time da Nave é escolhido a partir de um processo bem definido de recrutamento, através de etapas<br>
        focadas em alguns tópicos importantes na relação entre a empresa e o funcionário.<br>
        Ao final de todo o processo, o objetivo da empresa é conhecer o candidato ao mesmo tempo que se apresenta a ele.
        <br> Se você acredita que a cultura da Nave combina com você, nos mande um alô, ficaremos felizes em conhecê-lo!</p>
        <hr class="my-4">
        <p>Estamos sempre em busca de novos talentos para o nosso time, envie um e-mail para vagas@nave.rs <br>
          e um membro do time entrará em contato para dar início ao processo de seleção.</p>

        </div>

      </body>
      <%- include('./partial/footer.ejs'); %>
